extends layout

block content
  h1= title
  p Welcome to your #[em RMS]. 

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    button 
